<form
  class="form"
  [formGroup]="contactForm"
  (ngSubmit)="isEditContact ? editContact() : addContact()"
>
  <div class="form__init">
    <mat-form-field class="form__field" appearance="outline">
      <mat-label class="form_label">First Name</mat-label>
      <input type="text" matInput formControlName="firstName" />
    </mat-form-field>

    <div class="wrapper-error">
      <app-input-errors
        [showErrors]="showErrors('firstName')"
        [fieldErrors]="getError('firstName')"
        [errorMappingKey]="'firstName'"
      ></app-input-errors>
    </div>
  </div>

  <div class="form__init">
    <mat-form-field class="form__field" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input type="text" matInput formControlName="lastName" />
    </mat-form-field>

    <div class="wrapper-error">
      <app-input-errors
        [showErrors]="showErrors('lastName')"
        [fieldErrors]="getError('lastName')"
        [errorMappingKey]="'lastName'"
      ></app-input-errors>
    </div>
  </div>

  <div class="form__init">
    <mat-form-field class="form__field" appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input type="tel" matInput formControlName="phoneNumber" />
    </mat-form-field>

    <div class="wrapper-error">
      <app-input-errors
        [showErrors]="showErrors('phoneNumber')"
        [fieldErrors]="getError('phoneNumber')"
        [errorMappingKey]="'phoneNumber'"
      ></app-input-errors>
    </div>
  </div>

  <div class="form__init">
    <mat-form-field class="form__field" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" />
    </mat-form-field>

    <div class="wrapper-error">
      <app-input-errors
        [showErrors]="showErrors('email')"
        [fieldErrors]="getError('email')"
        [errorMappingKey]="'email'"
      ></app-input-errors>
    </div>
  </div>

  <div class="form__init">
    <mat-form-field class="form__field" appearance="outline">
      <mat-label>Address</mat-label>
      <input type="text" matInput formControlName="address" />
    </mat-form-field>

    <div class="wrapper-error">
      <app-input-errors
        [showErrors]="showErrors('address')"
        [fieldErrors]="getError('address')"
        [errorMappingKey]="'address'"
      ></app-input-errors>
    </div>
  </div>

  <mat-form-field class="form__init form__field" appearance="outline">
    <mat-label>Date of Birthday</mat-label>
    <input
      matInput
      formControlName="birth"
      [min]="minDate"
      [max]="maxDate"
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button
    class="button"
    mat-raised-button
    type="submit"
    [disabled]="!contactForm.valid"
  >
    Save {{ isEditContact ? "Edit" : "Contact" }}
  </button>
</form>
